<%- include('partials/header'); -%>

    <!-- main section -->
    <main class="main-class">
        <form name="item" id="form1" action="/" method="post">
            <div class="form-group">
                <input type="text" name="title" id="title" placeholder="Title">
                <input type="text" name="description" id="description" placeholder="Take a note..." autofocus autocomplete="off">
                <button class="btn" type="submit">Add note</button>
            </div>
            
        </form>

        <!-- hero section -->
        <div class="center-text">
            <img src="images/image.jpg" alt="">
            <p>Your notes will appear here</p>
       </div>

      
   
     
    </main>
    <script src="/script.js"></script>
</body>
</html>