<%- include('partials/header'); -%>


    <!-- main section -->
    <main>
        <form name="item" action="/notes" method="post">
            <div class="form-group">
                <input type="text" name="title" id="title" placeholder="Title" autocomplete="off">
                <input type="text" name="description" id="description" placeholder="Take a note..." autofocus autocomplete="off">
                <button class="btn" type="submit">Add note</button>
            </div>
            
        </form>
      

<!-- ********************** NOTES CONTAINER ******************************** -->

<div class="card-container"  onmouseover="displayFooter()" onmouseout="hideFooter()">

    <% notes.forEach((note) => { %>

      <div class="card">
          <div class="header">
              <h3><%= note.title %></h3>
          </div>
          <div class="body">
              <%= note.description.slice(0, 50) + '...' %>
          </div>
          <div class="footer">
            <button>Edit</button>
            <button method="delete" type="submit">Delete Note</button>
          </div>
      </div>



   <% }) %>
    
      
</div>


    </main>
    <script src="/script.js"></script>
</body>
</html>